@import 'variables.scss';

#banniere-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  color: $textColor;
}

#banniere {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: max-content;
  max-height: max-content;
}

#banniere img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

#banniere img:active,
#banniere img:focus,
#banniere img:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

#banniere img:not(.active) {
  filter: grayscale(1);
}

#banniere img.active.selected:hover {
  transform: none;
  cursor: default;
}

#banniere img:first-child {
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

#banniere img:last-child {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}

#croix {
  background-color: rgba(1, 1, 1, 0.2);
}

@media screen and (max-width: 1104px) {
  #banniere-container {
    display: none;
  }

  #container {
    margin: 30px 0px 0px 0px;
  }
}
