#banniere-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0px;
  color: #c5a767;
}

#banniere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

#banniere img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

#banniere img:active,
#banniere img:focus,
#banniere img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

#banniere img:not(.active) {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#banniere img.active.selected:hover {
  -webkit-transform: none;
          transform: none;
  cursor: default;
}

#banniere img:first-child {
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

#banniere img:last-child {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}

#croix {
  background-color: rgba(1, 1, 1, 0.2);
}

@media screen and (max-width: 1104px) {
  #banniere-container {
    display: none;
  }
  #container {
    margin: 30px 0px 0px 0px;
  }
}
/*# sourceMappingURL=banner.css.map */