@import 'variables.scss';
.theme--dark.v-card > .v-card__text {
  color: $textColor;
}

.custom-card {
  height: max-content;
  max-width: 167px;
  word-break: normal;
  display: inline-block;
  border: none;
  background-color: none;
  margin: 0px 10px 0px 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
}

.custom-card a {
  text-decoration: none;
  color: $textColor;
  font-weight: bold;
}

.nom-jeu {
  min-height: 98px;
  font-weight: 600;
}

.v-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.25rem;
  margin: 0px 0px 5px 0px;
  transition: background-color 0.3s ease;
  box-shadow: none !important;
  background-color: transparent !important;
}

.v-card:hover {
  background-color: rgba(197, 167, 103, 0.15) !important;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgba(197, 167, 103, 0.2),
    0px 2px 2px 0px rgba(197, 167, 103, 0.14),
    0px 1px 5px 0px rgba(197, 167, 103, 0.12);
}

.v-card img {
  margin: 20px 0px 0px 0px;
}

@media screen and (max-width: 575px) {
  .v-card {
    max-width: 100%;
    width: 100%;
  }
  .v-card img {
    max-width: 167px;
    margin: 0px;
  }
}
