@import 'variables.scss';
a {
  color: $textColor !important;
}

a.nav-link.active {
  font-weight: bold;
}

.nav {
  border-radius: 0.25rem;
}

.nav-tabs,
.nav-tabs .nav-link {
  border: none;
}

.nav-tabs,
.nav-link:not(.active):hover {
  background-color: $transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active > a {
  background-color: $active;
  color: $textColor !important;
  border: none;
}

#searchBar {
  border: 1px solid $textColor;
  font-weight: bold;
  color: $textColor;
  text-align: center;
  background-color: transparent;
}

#searchBar::placeholder {
  color: $textColor;
}

input:focus {
  border: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline-offset: 0px !important;
  outline: none !important;
}

input {
  box-sizing: border-box;
}

li.form-inline {
  padding: 0px 0px 0px 8px;
}

@media screen and (max-width: 462px) {
  li.form-inline {
    width: 100%;
    justify-content: center;
    padding: 0px;
  }
  .nav {
    padding: 0px 0px 5px 0px;
  }
}
