a {
  color: #c5a767 !important;
}

a.nav-link.active {
  font-weight: bold;
}

.nav {
  border-radius: 0.25rem;
}

.nav-tabs,
.nav-tabs .nav-link {
  border: none;
}

.nav-tabs,
.nav-link:not(.active):hover {
  background-color: rgba(1, 1, 1, 0.45);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active > a {
  background-color: rgba(1, 1, 1, 0.47);
  color: #c5a767 !important;
  border: none;
}

#searchBar {
  border: 1px solid #c5a767;
  font-weight: bold;
  color: #c5a767;
  text-align: center;
  background-color: transparent;
}

#searchBar::-webkit-input-placeholder {
  color: #c5a767;
}

#searchBar:-ms-input-placeholder {
  color: #c5a767;
}

#searchBar::-ms-input-placeholder {
  color: #c5a767;
}

#searchBar::placeholder {
  color: #c5a767;
}

input:focus {
  border: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline-offset: 0px !important;
  outline: none !important;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li.form-inline {
  padding: 0px 0px 0px 8px;
}

@media screen and (max-width: 462px) {
  li.form-inline {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
  .nav {
    padding: 0px 0px 5px 0px;
  }
}
/*# sourceMappingURL=navbar.css.map */