@import 'variables.scss';
/*
Couleur originale
body {
    background-image: linear-gradient(109.6deg, #cce4f7 11.2%, #edf6fa 100.2%);
}
*/

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}

#background-image {
  background-color: #b8c6db;
  //background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  background-image: url(AC15.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  touch-action: none;
}

.v-application {
  font-family: 'Titillium Web', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: transparent !important;
}

.v-application--wrap {
  align-items: center;
}

#container {
  width: 90vw;
}

.v-tabs,
.v-tabs-items {
  background-color: $transparent !important;
}

.v-tabs-items {
  border-radius: 0px 0px 7px 7px;
}

.v-tabs {
  border-radius: 7px 7px 0px 0px;
}

.v-tab--active {
  font-weight: 600;
}

.v-window-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
}

#titre {
  color: $textColor;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 338px) {
  #titre {
    font-size: 1.75rem;
  }
}
