/*
Couleur originale
body {
    background-image: linear-gradient(109.6deg, #cce4f7 11.2%, #edf6fa 100.2%);
}
*/
html,
body {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}

#background-image {
  background-color: #b8c6db;
  background-image: url(AC15.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  -ms-touch-action: none;
      touch-action: none;
}

.v-application {
  font-family: 'Titillium Web', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  background-color: transparent !important;
}

.v-application--wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  width: 90vw;
}

.v-tabs,
.v-tabs-items {
  background-color: rgba(1, 1, 1, 0.45) !important;
}

.v-tabs-items {
  border-radius: 0px 0px 7px 7px;
}

.v-tabs {
  border-radius: 7px 7px 0px 0px;
}

.v-tab--active {
  font-weight: 600;
}

.v-window-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

#titre {
  color: #c5a767;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 338px) {
  #titre {
    font-size: 1.75rem;
  }
}
/*# sourceMappingURL=style.css.map */