<template>
  <span class="custom-card">
    <a :href="getLink(heading)" ref="noopener" target="_blank">
      <v-card>
        <img :src="getImageSrc(imgSrc)" :alt="title" />
        <v-card-text class="nom-jeu">{{ title }}</v-card-text>
      </v-card>
    </a>
  </span>
</template>

<script lang="ts">
export default {
  props: {
    heading: {
      type: String,
      default: '',
    },

    imgSrc: {
      type: String,
      default: '',
    },

    title: {
      type: String,
      default: '',
    },
  },

  methods: {
    getImageSrc: (filename: string): string => {
      return `images/${filename}.webp`
    },

    getLink(heading: string): string {
      return `https://docs.google.com/document/d/1yOEdzYvv4xmD-NSQZiyioDMSjxx0A9d7uq4OUm5i9d4/edit#heading=${heading}`
    },
  },
}
</script>

<style lang="scss" scoped></style>
