<template>
  <div>
    <div id="background-image" />

    <v-app class="flex">
      <h2 id="titre">Sommaire du Guide AC</h2>
      <div id="banniere-container">
        <span>Cliquez sur la bannière pour filtrer par jeu</span>
        <div id="banniere">
          <img
            v-for="image in banniere"
            :key="image.ImgSrc"
            :src="getImageSrcBanniere(image.ImgSrc)"
            :alt="image.ImgSrc"
            :class="{
              active: !sagaSelected || image.Saga === sagaSelected,
              selected: image.Saga === sagaSelected,
            }"
            @click="sagaSelected = image.Saga"
          />
          <img
            id="croix"
            class="active"
            v-if="sagaSelected !== null"
            :src="getImageSrcBanniere('Croix')"
            @click="sagaSelected = null"
          />
        </div>
      </div>

      <div id="container">
        <v-tabs
          grow
          v-model="categorieIndex"
          background-color="rgba(1, 1, 1, 0.45)"
          color="#c5a767"
        >
          <v-tab v-for="titre in categories" :key="titre" class="rounded">
            {{ titre }}
          </v-tab>
        </v-tabs>

        <v-tabs-items class="card-container" v-model="categorieIndex">
          <v-tab-item>
            <card
              v-for="element in sectionTous"
              :key="element.Title"
              :heading="element.Heading"
              :imgSrc="element.Image"
              :title="element.Title"
            />
          </v-tab-item>
          <v-tab-item>
            <card
              v-for="element in sectionJeux"
              :key="element.Title"
              :heading="element.Heading"
              :imgSrc="element.Image"
              :title="element.Title"
            />
          </v-tab-item>

          <v-tab-item>
            <card
              v-for="element in sectionDlcs"
              :key="element.Title"
              :heading="element.Heading"
              :imgSrc="element.Image"
              :title="element.Title"
            />
          </v-tab-item>

          <v-tab-item>
            <card
              v-for="element in sectionDivers"
              :key="element.Title"
              :heading="element.Heading"
              :imgSrc="element.Image"
              :title="element.Title"
            />
          </v-tab-item>
        </v-tabs-items>
      </div>
    </v-app>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Card from '~/components/Card.vue'
import jsonBanniere from '~/static/banniere.json'
import jsonSections from '~/static/guideAC.json'

interface BanniereImg {
  ImgSrc: string
  Saga: string
  Id: number
}

interface Section {
  Title: string
  Image: string
  Heading: string
  Saga: string[]
  Categorie: string
}

export default Vue.extend({
  components: {
    card: Card,
  },

  data: () => {
    return {
      banniereDefaut: jsonBanniere,
      sectionJeux: [] as Section[],
      sectionDlcs: [] as Section[],
      sectionDivers: [] as Section[],
      sectionTous: jsonSections,
      banniere: [] as BanniereImg[],
      listeSagas: [] as string[],
      categories: ['Tout', 'Jeux', 'DLCs', 'Divers'],
      categorieIndex: 0,
      categorieSelected: 'Tout',
      sagaSelected: null as string | null,
    }
  },

  mounted() {
    this.banniere = this.banniereDefaut
    this.listeSagas = this.banniereDefaut.map(
      (element: BanniereImg) => element.Saga
    )
  },

  methods: {
    getImageSrcBanniere: (filename: string): string => {
      return `images/imagesBanniere/${filename}.webp`
    },

    filter() {
      this.sectionTous = jsonSections.filter(
        (element) =>
          !this.sagaSelected || element.Saga.includes(this.sagaSelected)
      )

      this.sectionJeux = []
      this.sectionDlcs = []
      this.sectionDivers = []

      this.sectionTous.forEach((element) => {
        switch (element.Categorie) {
          case 'Jeux':
            this.sectionJeux.push(element)
            break
          case 'DLCs':
            this.sectionDlcs.push(element)
            break
          case 'Divers':
            this.sectionDivers.push(element)
            break
          default:
            console.error(`Catégorie inconnue: ${element.Categorie}`)
            break
        }
      })
    },
  },

  watch: {
    sagaSelected() {
      this.filter()
    },

    categorieIndex() {
      this.categorieSelected = this.categories[this.categorieIndex]
      this.filter()
    },
  },
})
</script>

<style lang="css">
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
@import 'assets/scss/style.css';
@import 'assets/scss/banner.css';
@import 'assets/scss/card.css';
</style>
